@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Oswald:wght@300;500;600;700&family=Roboto:ital,wght@1,300&display=swap');


:root {
    --mainColor: #734a12;
    --cardColor: rgb(250, 250, 250);
    --buttonClicked: rgb(147, 101, 63);
    --buttonHover: rgb(140, 99, 49);
    --textColor: #f5deb3;
}

* {
    font-family: 'Merriweather', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    /*box-sizing: border-box;*/
}

.link {
    text-decoration: none;
}

body {
    overflow-x: hidden;
}